html, body{
	margin: 0 !important;
	padding: 0 !important;
}
body{
	background: grey !important;
}
header{
	box-shadow: 1px 8px 8px 5px;
}

.logo{
	float : left;
}
.nav{
	padding: 28px;
}

.nav a{
	padding-left: 10px;
}

#team{
	margin-bottom: 4%;
}